<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{site.url}}/" class="btn">Home</a>
  <a href="{{site.url}}/changelog" class="btn">Changelog</a>

  <a href="https://github.com/danibram/mocker-data-generator" class="btn">View on GitHub</a>
  <iframe src="https://ghbtns.com/github-btn.html?user=danibram&repo=mocker-data-generator&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="display:block; margin: 0 auto;">&nbsp;</iframe>
</section>
